<li class="is-dropdown-submenu-parent">
  <a href="/about/">About</a>
  <ul class="menu vertical nested">
    {% comment %}
    <li><a href="/about/">About FioriConf</a></li>
    <li><a href="/tickets/">Tickets</a></li>
    {% endcomment %}
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/conduct/">Code of Conduct</a></li>
    {% comment %}
    <li><a href="/why-fioriconf/">Why FioriConf?</a></li>
    {% endcomment %}
    <li><a href="/organizers/">Organizers</a></li>
  </ul>
</li>
{% comment %}
<li class="is-dropdown-submenu-parent">
  <a href="/schedule/">Schedule</a>
  <ul class="menu vertical nested">
    <li><a href="/schedule/">Full Schedule</a></li>
    <li><a href="/talks/">Talks Schedule</a></li>
  </ul>
</li>
{% endcomment %}
<li class="is-dropdown-submenu-parent">
  <a href="/speaking/">Speaking</a>
  <ul class="menu vertical nested">
    <li><a href="/speaking/">Speaking at FioriConf</a></li>
  </ul>
</li>
<li><a href="/news/">News</a></li>
{% comment %}
<li>
  <span>
    <a href="{{ site.ticket_link }}" class="button hollow">
      Get Tickets
    </a>

    <a href="{{ site.ticket_link }}" class="button theme-brand-color2">
      Get Tickets
    </a>
  </span>
</li>
{% endcomment %}
