---
layout: base
---

<header class="home-hero">
  <div class="row theme-brand-color1">
    <div class="header-text">
      <h1>Join us for <strong>a full day</strong> of inspiration, education, and networking opportunities</h1>

      <div class="event-info-detail">
        <strong
          class="event-info-date">Q1 / Q2 2024</strong>

        <span
          class="subheading event-info-location">
          Free | Online | Live
        </span>
      </div>

    </div>
  </div>
</header>



<div class="row column xlarge-9 theme-brand-color5 section-pad">
  <div class="date-card medium-4 column">
    <!-- TODO: re-add link to /tutorials/ -->
    <a href="#">
      <div class="dates">
        <div class="month">Free</div>
        <div class="days card-bg-1">Online</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Format</h2>
        <p>One day, free, online, live</p>
        <p><i>2024!</i></p>
      </div>
    </a>
  </div>
  <div class="date-card medium-4 column">
    <!-- TODO: re-add link to /talks/ -->
    <a href="#">
      <div class="dates">
        <div class="month">Audience</div>
        <div class="days card-bg-2">Fiori</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Sessions</h2>
        <p>Experts share their knowledge</p>
        <p><i>From SAP / Customers / Partners</i></p>
      </div>
    </a>
  </div>
  <div class="date-card medium-4 column">
    <!-- TODO: re-add link to /sprints/ -->
    <a href="#">
      <div class="dates">
        <div class="month">Participate</div>
        <div class="days card-bg-3">Join</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Topics</h2>
        <p>Fiori Elements, UX, Launchpad, mobile, standard, custom, extensions, RAP</p>
        <p><i>100% Fiori</i></p>
      </div>
    </a>
  </div>
</div>


<section class="section-pad">
  <div class="row column v-pad-bottom text-center">
    <h2>A conference about SAP Fiori</h2>
  </div>
  <div class="row card-row">
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/theme/icons/heart.svg" | relative_url }}"
          alt="A heart"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">COMMUNITY</h3>
          <p>From the Fiori community, for the Fiori community. Learn, share, connect with fellow Fiori developers, admin and architects. Plus: get in contact with the poeple that define SAP Fiori.</p>
      </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/theme/icons/globe.svg" | relative_url }}"
          alt="A document with several lines of unreadable text"
          class="card-icon"
          />
        <div class="card-section">
            <h3 class="card-title">OPEN</h3>
            <p>Online, Free, Live. Everyone can join and participate. We try to lower the barriers as much as possible so that every person that works with Fiori can join.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/theme/icons/hands.svg" | relative_url }}"
          alt="Two hands interlocked"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">CONNECT</h3>
          <p>FioriConf is not only to watch some recorded sessions. It is about interaction: live sessions, asking questions, get to know who is defining Fiori and how is used at customers.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news-section section-pad theme-brand-color3">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in site.posts limit:12 %}
      {% unless post.hidden %}
        <article class="news-title medium-4 column">
          <div class="card {% cycle "card-bg-1", "card-bg-2", "card-bg-3", "card-bg-4" %} {% if post.category == 'Sponsorship' %}card-theme-brand-color3{% else %}card-theme-brand-color2{% endif %}">
            <div class="card-section">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h3>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
              </h3>
            </div>
          </div>
        </article>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button theme-brand-color1" href="/news/">Read More News</a>
    </div>
  </div>
</section>

</div><!-- end .content -->
